#!/usr/bin/make -f

export PYBUILD_NAME=paramiko

%:
	dh $@ --with python2,python3 --buildsystem=pybuild

override_dh_installdocs:
ifeq (,$(findstring nodocs, $(DEB_BUILD_OPTIONS)))
	epydoc --no-private -o html/ paramiko
endif
	dh_installdocs

